[Unit]
Description=IDS-OS GUI
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/startx
[Install]
WantedBy=multi-user.target